body {
	background-color:#FF8040;
}

.panel {
	margin-top: 0px;
	background-color: #6500A8;
	position:center;
	display: auto;
	border-radius: .5em;
}

#name {
	margin-top: 0px;
	color: white;
	font-size:4em;
	font-weight: bold;
	text-align: center;
	position:center;
}

#project {

}

#organization {
	
}
